*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "sans-serif";
}
a{
    text-decoration: none;
}
body{
    background-color: #FFF;
}
:root{
    --primary_color : #6e07f3;
    --secondary_color: #141c3a;
    --underline: #f4f4f4;
}

/* ***************     Main Page     ******************** */
.container{
    max-width: 1200px;
    margin: 0px auto;
}
/* header */
.headerButtons{
    display: flex;
    align-items: center;
    gap: 20px;
}
header{
    padding: 10px 20px;
    /* background-color: yellow; */
    /* display: flex; */
}
.logo{
    width: 80px;
    height: 60px;
    border-radius: 100%;
}
.headerButtons button{
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 19px;
    background-color: inherit;
    cursor: pointer;
    /* border: none; */
}
.flex{
    display: flex;
    justify-content: space-between;
}
button{
    border: unset;
    background-color: inherit;
}
.btnFilled{
    border: 1px solid var(--primary_color);
    color: var(--primary_color);
    font-weight: 600;
}
.btnResume{
    font-weight: 600;
    color: var(--secondary_color);
    /* border: none; */
    border: 1px solid transparent;
}
.btnResume:hover{
    border: 1px solid var(--primary_color);
}
/* END header */
/* Banner */
.domain{
    text-align: center;
    margin-top: 110px;
    color: var(--secondary_color);
    font-size: 50px;
}
.subDomain{
    text-align: center;
    margin-top: 30px; 
    color: var(--secondary_color);
    font-size: 25px;
}
.avatar{
    width: 250px;
    height: 250px;
    margin: 0px auto;
    display: flex;
    margin-top: 75px;
}
.bannerImage img{
    width: 100%;
    height: 400px;
    /* padding: 40px 50px; */
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
}
/* END Banner */
/* About me */
.aboutMe{
    background-color: var(--primary_color);
    text-align: center;
    color: white;
    /* position: relative; */
}
.heading{
    font-size: 30px;
    color: #FFF;
}
.aboutMe .container h2{
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
}
.aboutMe .container p{
    font-size: 23px;
    padding: 30px 200px;
    line-height: 35px;
    padding-bottom: 270px;
}
/* END About me */
/* Domain section */
.domainSection{
    position: absolute;
    top: 60px;
}
.domainLogo{
    display: flex;
    justify-content: center;
}
.designerlogo{
    font-size: 60px;
    background-color: lightblue;
    border-radius: 20px;
    padding: 10px;
}
.groupingDomain{
    position: absolute;
    top: 1430px;
    width: 100%;
}
.myDomain{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 30px;
}
.myDomain:first-child{
    border-bottom: 2px solid #E6ECF8;
    border-top: 2px solid #E6ECF8;
    border-left: 2px solid #E6ECF8;
    border-right: 2px solid #E6ECF8;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.myDomain:nth-child(2){
    border-bottom: 2px solid #E6ECF8;
    border-top: 2px solid #E6ECF8;
    border-right: 2px solid #E6ECF8;
}
.myDomain:last-child{
    border-bottom: 2px solid #E6ECF8;
    border-top: 2px solid #E6ECF8;
    border-right: 2px solid #E6ECF8;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.groupingDomain .container{
    background-color: #FFF;
    display: flex;
    border-radius: 25px;
}
.domainSubHead{
    color: var(--primary_color) !important;
}
.domainDis{
    max-width: 300px;
    text-align: center;
}
.myDomain p{
    font-size: 18px;
    color: var(--secondary_color);
    text-align: center;
}
/* END Domain section */
/* Recent works */
.recentWorks{
    position: relative;
    top: 875px;
}
.recentWorks .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recentWorks .container h1{
    margin-bottom: 30px;
    color: var(--secondary_color);
    font-size: 30px;
}
.recentWorks .container h2{
    color: var(--secondary_color);
    font-size: 21px;
}
/* ENDRecent works */
/* collobarative */
.collobarative .container{
    position: relative;
    top: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.collobarative .container h1,h2{
    color: var(--secondary_color);
}
.conversation{
    display: flex;
    align-items: center;
    border: 2px solid var(--primary_color);
    border-radius: 15px;
    justify-content: space-evenly;
    color: var(--primary_color);
    width: 250px;
    height: 45px;
    font-size: 20px;
    margin-top: 30px;
}
.conversation:hover{
    background-color: var(--primary_color);
    color: #FFF;
    cursor: pointer;
}
/*END collobarative  */
/* Footer */
.footer{
    background-color: var(--primary_color);
    position: relative;
    top: 1170px;
}
.footer .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 200px 20px;
}
.footer .container h1{
    color: #FFF;
    font-size: 30px;
    max-width: 380px;
    text-align: center;
}
.socialmedia{
    width: 100%;
    max-width: 320px;
    display: flex;
    justify-content: space-around;
}
.socialmedia i {
    border: 1px solid white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}
.socialmedia i:hover{
    background-color: #FFF;
    border: 1px solid #FFF;
    color: var(--primary_color);
    cursor: pointer;
}
.footerlogo{
    border: 1px solid white;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.startaProject{
    background-color: #141c3a;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
    padding: 70px 25px;
    position: absolute;
    top: -75px;
    align-items: center;
}
.startaProject h1{
    font-size: 30px;
    color: white;
}
.startaProject p{
    color: #FFF;
    font-size: 25px;
    max-width: 480px;
    text-align: center;
}
.projectBtn{
    border: 1px solid white;
    color: #FFF;
    display: flex;
    padding: 15px 30px;
    align-items: center;
    border-radius: 10px;
    gap: 15px;
}
.projectBtn:hover{
    cursor: pointer;
    background-color: var(--primary_color);
    color: #FFF;
}
.opacity{
    opacity: .8;
}
/* END Footer */
/* ***************    END Main Page     ******************** */
/* ***************    Say Hello Page     ******************** */
.underline{
    border-bottom: 1px solid var(--underline);
}
.helloHeader{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.helloheaderBtn{
    display: flex;
    gap: 45px;
    padding-right: 30px;
}
.helloheaderBtn button i{
    font-size: 20px;
    color: var(--primary_color);
}
.heading{
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    position: relative;
}
.heading img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -55px;
}
.heading h1{
    color: var(--secondary_color);
    font-size: 39px;
    text-align: center;
    line-height: 55px;
    padding-top: 100px;
}
.form .container form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
}
.message{
    display: flex;
}
.nameEmail{
    display: flex;
    gap: 30px;
}
.form{
    max-width: 600px;
    /* background-color: yellow; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.formName{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.formName input{
    height: 40px;
    border-radius: 5px;
    border: none;
    border: 1px solid var(--underline);
    padding: 15px;
    font-size: 18px;
    color: var(--secondary_color);
}
.formMessage{
    display: flex;
    flex-direction: column;
    gap: 5px;  
}
.formMessage input{
    height: 150px;
    border-radius: 5px;
    border: none;
    border: 1px solid var(--underline);
    padding: 15px;
    font-size: 18px;
    color: var(--secondary_color);
}
.formMessage textarea{
    height: 180px;
    border: none;
    border: 1px solid var(--underline);
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
}
.form div label{
    color: var(--secondary_color);
    font-size: 20px;
}
.form button{
    border: 1px solid var(--primary_color);
    width: 130px;
    padding: 13px 0px;
    border-radius: 16px;
    font-size: 20px;
    color: var(--primary_color);
    margin-left: auto;
    margin-right: auto;
}
.form button:hover{
    background-color: var(--primary_color);
    color: #FFF;
}
/* ***************   END Say Hello Page     ******************** */